# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Logs
*.log

# Docker
.env

# Misc
tmp/
dist/
build/
